# PostgreSQL Connection URL (Supabase)
KBC_DATABASE_URL=postgresql://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres
# Vimeo API
VIMEO_ACCESS_TOKEN=7d9c0fec93d15d2f57b65d9e1cc7c3e4
VIMEO_PER_PAGE=50
VIMEO_MAX_PAGES=50
